<!DOCTYPE html>
    <html>
        <head>
            {% block titulo %}

            <p>Parte del titulo y enlaces</p>
		
            {% endblock %}
            <script src="actividad.js"></script>
        
        </head>

<div class="wrapper"> <!-- Contenedor principal que usa CSS Grid para su disposición interna -->
    <div class="box a"> <!-- Sección de encabezado que incluye una imagen y un menú de navegación -->
        <img src="../imagenes/imagen.png" width="175" height="125" > <!-- Imagen del logo o similar -->
        <div class="centro"> <!-- Contenedor centrado para el título y el menú -->
            <span class="titulo"><strong>AVENTURAS CAZORLA</strong></span> <!-- Título de la página -->
            <div class="menus"> <!-- Contenedor para los elementos del menú -->
                <strong><a class="menu" id="menu1" href="../portada.php">Inicio</a></strong> <!-- Opción del menú -->
                <strong><a class="menu" id="menu2"></class>Actividades</a></strong><!-- Opción del menú -->
                <strong><a class="menu" id="menu3">Reservas</a></strong> <!-- Opción del menú -->
            </div>
        </div>
        <!-- Botón para mostrar el formulario de inicio de sesión -->
        {% if info['usuario_iniciado'] == false %}
            <div class="inicio-sesion">
                <a href="login.php">
		    <img src="../imagenes/usuario.png" height="30" width="30" alt="Modificar datos">
		</a>
            </div>
        {% endif %}

    <div class="columna">
        {% if info['usuario_iniciado'] %}

    <div class="modificarsalir">
        <a href="modificar.php">
	    <img src="../imagenes/modificar.png" height="30" width="30" alt="Modificar datos">
	</a>
        
        <a href="logout.php">
	    <img src="../imagenes/cerrar-sesion.png" height="30" width="30" alt="Cerrar Sesión">
	</a>

    </div>
    
    {% endif %}
        
{% if (info['rol'] == 'gestor' or info['rol'] == 'super' or info['rol'] == 'moderador') and info['usuario_iniciado'] %}
   <div class="opciones">
    <button onclick="toggleExtensible('opciones')">Gestión de opciones</button>
    <div class="extensible hidden">
        {% if info['rol'] == 'super' %}

                <form action="roles.php">
                    <button type="submit">Modificar roles</button>
                </form>

        {% endif %}
        {% if info['rol'] == 'moderador' or info['rol'] == 'super' %}

                <form action="comentario.php">
                    <button type="submit">Leer comentarios</button>
                </form>

        {% endif %}
        {% if info['rol'] == 'gestor' or info['rol'] == 'super' %}

                <form action="gestor.php">
                    <button type="submit">Añadir actividades</button>
                </form>
                <form action="eliminar_actividad.php">
                    <button type="submit">Eliminar actividades</button>
                </form>
                <form action="editar_actividad.php">
                    <button type="submit">Editar actividades</button>
                </form>
                <form action="actividades.php">
                    <button type="submit">Mostrar actividades</button>
                </form>
                <form action="fotos.php">
                    <button type="submit">Fotos de actividades</button>
                </form>

        {% endif %}
    </div>
</div>
    {% endif %}
</div>

{% if info['usuario_iniciado'] %}
        <div class="usuario">
            <strong>Usuario: {{ info['username']}}</strong>
            <strong>Rol: {{ info['rol']}}</strong> 
        </div>
        {% else %}
        <div class="usuario">
            <strong>Anonimo</strong>
        </div>
        {% endif %}

    </div>    

	<script>
	    function toggleExtensible(elementId) {
		var extensible = document.querySelector("." + elementId + " .extensible");
		extensible.classList.toggle("active");
	    }
	</script>

    <body>
    {% block cuerpo %}

            <p>Parte del cuerpo</p>

    {% endblock %}

    <div class="box c"> <!-- Sección con enlaces útiles para el visitante: clima, lugares para visitar, comer, dormir, aparcar y acampar -->
        <a href="https://www.eltiempo.es/cazorla.html">¿Qué tiempo va a hacer?</a>
        <a href="https://www.tuscasasrurales.com/blog/sierra-de-cazorla/">Lugares cercanos para visitar</a>
        <a href="https://www.mochileandoporelmundo.com/donde-comer-en-cazorla/">Lugares para comer</a>
        <a href="https://www.turismoencazorla.com/dondealojarse.php">Lugares para dormir</a>
        <a href="https://totalrenting.es/aparcamiento-parkings/donde-aparcar-en-cazorla/">Lugares donde aparcar</a>
        <a href="https://www.turismoencazorla.com/camping.php">Lugares donde acampar</a>
        
    </div>
        <div class="box d"><!-- Sección de pie de página con información del propietario y contacto -->
            <div class="propietario">
                <strong>©2024-JAIME PARRA JIMENEZ</strong>
            </div>

            <div class="contacto">
                <strong>Teléfono de contacto: 674982345</strong>
            </div>

        </div>
    </div>

</body>
</html>

